<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>发送错误</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/oj.css">

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
</head>

<body>
<div class="container custom-container">
    <div class="card">
        <h1>发生错误</h1>

        <!--        <div class="card-header">-->
        <!--            <h3 th:text="${message.header}"></h3>-->
        <!--        </div>-->
        <!--        <div class="card-body text-center">-->
        <!--            <h4 th:text="${message.message}"></h4>-->
        <!--            <br>-->
        <!--            <br>-->
        <!--            <a th:if="${message.linkText != null && #strings.length(message.linkText) > 0}"-->
        <!--               class="btn btn-lg btn-success"-->
        <!--               th:href="${message.url}"-->
        <!--               th:text="${message.linkText}"></a>-->
        <!--        </div>-->
    </div>
</div>

</body>
</html>
