<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>参赛用户</title>

    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/oj.css">

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<div th:include="navbar :: commonNavBar"></div>
<div class="container custom-container">
    <h2 align="center"><a th:href="'/contest-overview?contestID=' + ${contest.contestID}"
                          th:text="${contest.title}"></a></h2>


    <div class="card">
        <div class="card-header"><h5>参赛用户</h5></div>
        <div class="card-body">
            <div class="card">
                <table class="table table-sm table-striped text-center" style="margin-bottom: 0rem;">
                    <thead>
                    <tr>
                        <th>用户ID</th>
                        <th>用户名</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="user: ${userList}" th:with="currentTimeStamp=${new java.util.Date().getTime()}">
                        <tr>
                            <td><a th:href="'/user?userID='+${user.userID}" th:text="${user.userID}"></a></td>
                            <td><a th:href="'/user?userID='+${user.userID}" th:text="${user.userName}"></a></td>
                            <th:block th:switch="${currentTimeStamp < contest.startTime - 10*60*1000}">
                                <!--比赛前10分钟之前允许删除用户-->
                                <td th:case="${true}"><a
                                        th:href="'/contest-user-delete?contestID=' + ${contest.contestID} + '&userID=' + ${user.userID}">移除比赛</a>
                                </td>
                                <td th:case="*"><span>比赛已经开始</span></td>
                            </th:block>
                            </c:choose>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="text-center">
                <a class="btn btn-success" th:href="'/contest-overview?contestID=' + ${contest.contestID}">返回比赛</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="msgModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">重要提示</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>请登录后再报名</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">知道了</button>
            </div>
        </div>
    </div>
</div>

<div th:include="footer :: commonFooter"></div>
</body>
</html>
