<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        <span th:if="${problem != null}" th:remove="tag"
              th:text="'编辑: P' + ${1000 + problem.problemID} + '/' + ${problem.title}"></span>
        <span th:if="${problem == null}" th:remove="tag">新增题目</span>
    </title>


    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/oj.css">

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>

    <script src="/plugin/ckeditor/ckeditor.js"></script>

    <script>
        function problemCheck() {
            $('textarea.ckeditor').each(function () {
                var $textarea = $(this);
                $textarea.val(CKEDITOR.instances[$textarea.attr('id')].getData());
            });

            var title = $("#title").val();
            var desc = $("#desc").val();
            var inputDesc = $("#inputDesc").val();
            var outputDesc = $("#outputDesc").val();
            var inputSample = $("#inputSample").val();
            var outputSample = $("#outputSample").val();
            var hint = $("#hint").val();
            var source = $("#source").val();
            var background = $("#background").val();
            var staticLangTimeLimit = $("#staticLangTimeLimit").val();
            var staticLangMemLimit = $("#staticLangMemLimit").val();
            var dynamicLangTimeLimit = $("#dynamicLangTimeLimit").val();
            var dynamicLangMemLimit = $("#dynamicLangMemLimit").val();

            if (title.length == 0) {
                alert("标题不能为空");
                return false;
            }

            var flag = 0;
            $("textarea").each(function () {
                console.log($(this).attr("id") + ": " + $(this).val());
                if ($(this).val().length == 0) {
                    if ($(this).attr("id") != "hint" && $(this).attr("id") != "background" && $(this).attr("id") != "source") {
                        flag++;
                    }
                }
            });
            if (flag == 0) {
                return true;
            } else {
                alert("除了提示和来源, 其余内容不允许为空");
                return false;
            }
        }
    </script>
</head>


<body>
<div th:include="navbar :: commonNavBar"></div>

<div class="container custom-container">
    <h3 class="text-center" th:if="${problem != null}">
        <a th:href="'/problem?problemID='+${problem.problemID}" th:text="${problem.title}"></a>
    </h3>
    <div class="card">
        <div class="card-header">
            <h4>
                <th:block th:switch="${problem != null}">
                    <span th:case="${true}">编辑题目</span>
                    <span th:case="*">编辑题目</span>
                </th:block>
            </h4>
        </div>
        <div class="card-body">
            <form method="post" th:action="${problem == null ? '/problem-add' : '/problem-update'}"
                  onsubmit="return problemCheck()">

                <input hidden id="inputProblemID" name="inputProblemID" th:if="${problem != null}"
                       th:value="${problem.problemID}">

                <div class="input-group">
                    <span class="input-group-addon">题目名称</span>
                    <input id="title" name="title" th:value="${problem != null ? problem.title : ''}"
                           type="text"
                           placeholder="标题不超过200个字符" class="form-control">
                </div>
                <br>

                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <div class="input-group mb-2 mb-sm-0">
                            <div class="input-group mb-2 mb-sm-0">

                                <label type="text" class="form-control">静态语言</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-auto">
                        <div class="input-group">
                            <span class="input-group-addon">时间限制</span>
                            <select class="form-control" name="staticLangTimeLimit" id="staticLangTimeLimit">
                                <th:block th:switch="${problem != null}">
                                    <th:block th:case="${true}">
                                        <option value="1000" th:selected="${problem.staticLangTimeLimit == 1000}">
                                            1000ms
                                        </option>
                                        <option value="2000" th:selected="${problem.staticLangTimeLimit == 2000}">
                                            2000ms
                                        </option>
                                        <option value="3000" th:selected="${problem.staticLangTimeLimit == 3000}">
                                            3000ms
                                        </option>
                                    </th:block>
                                    <th:block th:case="*">
                                        <option value="1000" selected>1000ms</option>
                                        <option value="2000">2000ms</option>
                                        <option value="3000">3000ms</option>
                                    </th:block>
                                    >
                                </th:block>
                            </select>
                        </div>
                    </div>

                    <div class="col-auto">
                        <div class="input-group">
                            <span class="input-group-addon">内存限制</span>
                            <select class="form-control" name="staticLangMemLimit" id="staticLangMemLimit">
                                <th:block th:switch="${problem != null}">
                                    <th:block th:case="${true}">
                                        <option value="1000" th:selected="${problem.staticLangMemLimit == 32768}">32MB
                                        </option>
                                        <option value="1000" th:selected="${problem.staticLangMemLimit == 65536}">64MB
                                        </option>
                                        <option value="1000" th:selected="${problem.staticLangMemLimit == 131072}">
                                            128MB
                                        </option>
                                    </th:block>
                                    <th:block th:case="*">
                                        <option value="32768">32MB</option>
                                        <option value="65536">64MB</option>
                                        <option value="131072" selected>128MB</option>
                                    </th:block>
                                    >
                                </th:block>
                            </select>
                        </div>
                    </div>
                </div>

                <br>
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <div class="input-group mb-2 mb-sm-0">
                            <div class="input-group mb-2 mb-sm-0">
                                <label type="text" class="form-control">动态语言</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group">
                            <span class="input-group-addon">时间限制</span>
                            <select class="form-control" id="dynamicLangTimeLimit"
                                    name="dynamicLangTimeLimit">
                                <th:block th:switch="${problem != null}">
                                    <th:block th:case="${true}">
                                        <option value="1000" th:selected="${problem.dynamicLangTimeLimit == 1000}">
                                            1000ms
                                        </option>
                                        <option value="2000" th:selected="${problem.dynamicLangTimeLimit == 2000}">
                                            2000ms
                                        </option>
                                        <option value="3000" th:selected="${problem.dynamicLangTimeLimit == 3000}">
                                            3000ms
                                        </option>
                                    </th:block>
                                    <th:block th:case="*">
                                        <option value="1000">1000ms</option>
                                        <option value="2000" selected>2000ms</option>
                                        <option value="3000">3000ms</option>
                                    </th:block>
                                    >
                                </th:block>
                            </select>
                        </div>
                    </div>

                    <div class="col-auto">
                        <div class="input-group">
                            <span class="input-group-addon">内存限制</span>
                            <select class="form-control" name="dynamicLangMemLimit" id="dynamicLangMemLimit">
                                <th:block th:switch="${problem != null}">
                                    <th:block th:case="${true}">
                                        <option value="1000" th:selected="${problem.dynamicLangMemLimit == 32768}">
                                            32MB
                                        </option>
                                        <option value="1000" th:selected="${problem.dynamicLangMemLimit == 65536}">
                                            64MB
                                        </option>
                                        <option value="1000" th:selected="${problem.dynamicLangMemLimit == 131072}">
                                            128MB
                                        </option>
                                    </th:block>
                                    <th:block th:case="*">
                                        <option value="32768">32MB</option>
                                        <option value="65536">64MB</option>
                                        <option value="131072" selected>128MB</option>
                                    </th:block>
                                    >
                                </th:block>
                            </select>
                        </div>
                    </div>
                </div>

                <br>
                <div class="form-row align-items-center" style="display: none">
                    <div class="col-auto">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" name="inputHidden" id="inputHidden" type="checkbox">隐藏此题目
                            </label>
                        </div>
                    </div>
                </div>


                <br>

                <h4>题目描述</h4>
                <textarea class="ckeditor" id="desc" name="desc"
                          th:utext="${problem != null ? problem.desc : ''}"></textarea>

                <br>
                <h4>输入格式</h4>
                <textarea class="ckeditor" id="inputDesc" name="inputDesc"
                          th:utext="${problem != null ? problem.inputDesc : ''}"></textarea>

                <br>
                <h4>输出格式</h4>
                <textarea class="ckeditor" id="outputDesc" name="outputDesc"
                          th:utext="${problem != null ? problem.outputDesc : ''}"></textarea>

                <br>
                <div class="form-row">
                    <div class="col-sm-6">
                        <h4>样例输入</h4>
                        <textarea name="inputSample" id="inputSample" class="form-control"
                                  style="height:200px; font-family: Consolas"
                                  th:utext="${problem != null ? problem.inputSample : ''}"></textarea>
                    </div>
                    <div class="col-sm-6">
                        <h4>样例输出</h4>
                        <textarea name="outputSample" id="outputSample" class="form-control"
                                  style="height:200px; font-family: Consolas"
                                  th:utext="${problem != null ? problem.outputSample : ''}"></textarea>
                    </div>
                </div>

                <br>
                <h4>提示</h4>
                <textarea class="ckeditor" id="hint" name="hint"
                          th:utext="${problem != null ? problem.hint : ''}"></textarea>

                <br>
                <h4>来源</h4>
                <textarea class="ckeditor" id="source" name="source"
                          th:utext="${problem != null ? problem.source : ''}"></textarea>
                <br>

                <br>
                <h4>背景</h4>
                <textarea class="ckeditor" id="background" name="background"
                          th:utext="${problem != null ? problem.background : ''}"></textarea>
                <br>


                <div class="text-center">
                    <th:block th:switch="${problem == null}">
                        <th:block th:case="${true}">
                            <input class="btn btn-success" type="submit" value="添加题目">
                        </th:block>
                        <th:block th:case="*">
                            <a class="btn btn-primary"
                               th:href="'/test-point-list?problemID='+${problem.problemID}">测试数据</a>
                            <input class="btn btn-success" type="submit" value="保存修改">
                            <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#deleteModal">删除题目</a>
                        </th:block>
                    </th:block>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">重要提示</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>与该题目相关的所有信息即将永久性删除, 是否继续?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
                <a th:href="'/problem-delete?problemID='+${problem != null ? problem.problemID : -1}"
                   class="btn btn-danger">是的,删除</a>
            </div>
        </div>
    </div>
</div>
<div th:include="footer :: commonFooter"></div>
</body>
</html>
