<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xanarry.onlinejudge.dao.TestPointDao">
    <!--insert-->
    <insert id="addTestPoint" parameterType="com.xanarry.onlinejudge.model.TestPointBean">
        INSERT INTO
        t_test_point
        (
        `problem_id`,
        `test_point_id`,
        `input_text_path`,
        `input_text_length`,
        `output_text_path`,
        `output_text_length`
        )
        VALUES
        (
        #{problemID},
        #{testPointID},
        #{inputTextPath},
        #{inputTextLength},
        #{outputTextPath},
        #{outputTextLength}
        )
    </insert>


    <!--delete-->
    <delete id="deleteTestPoint">
        DELETE FROM t_test_point WHERE problem_id = #{problemID} AND test_point_id = #{testPointID}
    </delete>

    <!--update-->
    <update id="updateTestPoint">
        UPDATE t_test_point SET
        problem_id = #{testPointID.problemID}
        test_point_id = #{testPointID.testPointID}
        input_text_path = #{testPointID.inputTextPath}
        input_text_length = #{testPointID.inputTextLength}
        output_text_path = #{testPointID.outputTextPath}
        output_text_length = #{testPointID.outputTextLength}
        WHERE WHERE problem_id = #{testPointID.problemID} AND test_point_id = #{testPointID.testPointID}
    </update>


    <!--select-->
    <select id="getTestPointList" resultMap="testPointMap" resultType="com.xanarry.onlinejudge.model.TestPointBean">
        SELECT * FROM t_test_point WHERE problem_id = #{problemID} ORDER BY test_point_id ASC
    </select>


    <select id="getTestPoint" resultMap="testPointMap" resultType="com.xanarry.onlinejudge.model.TestPointBean">
        SELECT * FROM t_test_point WHERE problem_id = #{problemID} AND test_point_id = #{testPointID}
    </select>

    <resultMap id="testPointMap" type="com.xanarry.onlinejudge.model.TestPointBean">
        <id property="problemID" column="problem_id"/>
        <id property="testPointID" column="test_point_id"/>
        <result property="inputTextPath" column="input_text_path"/>
        <result property="inputTextLength" column="input_text_length"/>
        <result property="outputTextPath" column="output_text_path"/>
        <result property="outputTextLength" column="output_text_length"/>
    </resultMap>
</mapper>